# Exclude all...

*

# ...except these files:

!LICENCE
!README.md
!ML_indoor.yml

!input/
!input/Espoo1.csv
!input/Espoo2.csv
!input/Tampere1.csv
!input/Tampere2.csv
!input/Valkeakoski.csv
!input/Klaukkala.csv

!main.py
!myCreate_sbatch_files.py
!myClasses.py
!myModels.py
!myResults.py
!myMerge.py
!myPostAnalysis.py

!ML_indoor_template.sh

